.weather {
    background-image: url('../../../assets/backgrounds/Clouds.png');
    background-position: bottom;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

}

.flex {
    display: flex;
    align-items: stretch;
    gap: 10px;
    width: 100%;
}

.main {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftPanel,
.rightPanel {
    flex: 1;
    height: 100%;
}